<%- include('common/header-logged-in',{active:'edit-profile'}) -%>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3>Muokkaa tietoja</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>
