<title>Asteriski ry jäsenrekisteri</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="/img/favicon-192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/img/favicon-180x180.png" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel='stylesheet' id='asteriski-font-css'  href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Poppins:400,500,600,700,80' type='text/css' media='all' />
