<!doctype html>
<html>
    <%- include('header') -%>
    <%- include('header-logged-out') -%>
    <body>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="jumbotron smalljumbo">
                    <img class="mx-auto d-block" src="/img/asteriski-logo.png"></img>
                    <h3 class="text-center">Jäsenrekisteri</h3>
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } else { %>
                    <% } %>
                    <form action="/" method="post">
                        <div class="form-group">
                            <label>Sähköposti</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Salasana</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="btn btn-success"><span class="fa fa-sign-in-alt"></span> Kirjaudu sisään</button>
                    </form>
                    <hr>
                    <div class="btm-links">
                        <p><a href="/signup">Liity jäseneksi</a></p>
                        <p><a href="/">Salasana unohtunut?</a></p>
                    </div>
                </div>
            </div>
    </body>
</html>
