body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
nav {
    background-image: linear-gradient(to bottom right, #9cd6c3, #30b58a);
}
.control {
    color: #86202ad9 !important;
}
.navbar-brand img {
    max-height: 32px;
}
.smalljumbo {
    width: 400px;
}
.jumbotron {
    background-color: rgba(233, 236, 239, .7);
    box-shadow: 1px 1px 5px #00000094;
}
.jumbotron img {
    margin-bottom: 20px;
}
.jumbotron h3 {
    text-transform: uppercase;
}
.btm-links {
    font-size: 0.8rem;
    margin: 2px 0 0 0;
}
.btm-links .forgot-password {
    float: left;
    margin-left: 16px;
}
